.env
.env.*

**pycache**/
*.py[cod]
*$py.class


venv/
.env/
env/
ENV/
vbash/


build/
dist/
*.egg-info/
.eggs/


.ipynb_checkpoints


.pytest_cache/
.coverage
htmlcov/


*.log


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp
*.swo


*.pem
*.key
*.crt


*.csv
*.sqlite3
*.db


*.pkl
*.joblib


*.png
*.jpg
*.jpeg
*.svg
